<GridElement Row="@Row" Column="1" HorizontalAlignment="@Alignment.End" VerticalAlignment="@Alignment.Center">
        <label>@Label : </label>
    </GridElement>
    <GridElement Row="@Row" Column="2">
        <ClearableInput ShowCents="@ShowCents" @bind-Value="@Value"/>
    </GridElement>
    <GridElement Row="@Row" Column="3" HorizontalAlignment="@Alignment.Start" VerticalAlignment="@Alignment.Center">
        <label>@Currency</label>
    </GridElement>

@code {
    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public int Row { get; set; }

    [Parameter]
    public string Currency { get; set; } = "€";

    [Parameter]
    public bool ShowCents { get; set; } = true;

    private string _value;
    [Parameter]
    public string Value
    {
        get => _value;
        set
        {
            _value = value;
            //ValueChanged.InvokeAsync(Value);
        }
    }

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }
}
