  <GridElement Row="@Row" Column="1" HorizontalAlignment="@Alignment.End" VerticalAlignment="@Alignment.Center">
      <label class="text-dark">@Label :</label>
  </GridElement>
  <GridElement Row="@Row" Column="2">
      <label class="text-dark">@Value</label>
  </GridElement>
  <GridElement Row="@Row" Column="3" HorizontalAlignment="@Alignment.Start" VerticalAlignment="@Alignment.Center">
      <label class="text-dark">@Currency</label>
  </GridElement>

@code {
    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public int Row { get; set; }

    [Parameter]
    public string Currency { get; set; } = "€";

    [Parameter]
    public string Value { get; set; }
}
