@inherits BlazorState.BlazorStateComponent
@using ImmoCalc.Stores.Infos

<div class="card">
    <div class="card-header bg-primary border rounded shadow-sm">
        <div class="row text-left">            
            <div class="col-auto"><i class="fas fa-house-damage"></i></div>
            <div class="col">
                <h5 class="text-white mb-0">Informations d&#39;achat</h5>
            </div>
        </div>
    </div>
    <div class="card-body">
        <Grid ColumnGap="3" RowGap="3">
            <RowDefinitions>
                <RowDefinition />
                <RowDefinition />
                <RowDefinition />
                <RowDefinition />
            </RowDefinitions>
            <ColumnDefinitions>
                <ColumnDefinition Width="120" />
                <ColumnDefinition />
                <ColumnDefinition Width="30" />
            </ColumnDefinitions>
            <Content>
                <BuyingInformation Row="1" Label="Prix total" ShowCents="@false" @bind-Value="@BuyingPrice"/>
                <BuyingInformation Row="2" Label="Loyer mensuel" />
                <BuyingInformation Row="3" Label="Dont charges" />
                <BuyingInformation Row="4" Label="Surface" Currency="m²" />
            </Content>
        </Grid>
    </div>
    <div class="card-body bg-dark border rounded border-dark">
        <Grid>
            <ColumnDefinitions>
                <ColumnDefinition />
                <ColumnDefinition />
                <ColumnDefinition />
            </ColumnDefinitions>
            <RowDefinitions>
                <RowDefinition/>
                <RowDefinition/>
                <RowDefinition/>
                <RowDefinition/>
                <RowDefinition/>
            </RowDefinitions>
            <Content>
                <GridElement Row="1" Column="1" HorizontalAlignment="@Alignment.End" VerticalAlignment="@Alignment.Center">
                    <label class="text-white">Frais notaire :</label>
                </GridElement>
                <GridElement Row="1" Column="2">
                    <label class="text-white">@NotaryFees</label>
                </GridElement>
                <GridElement Row="1" Column="3" HorizontalAlignment="@Alignment.Start" VerticalAlignment="@Alignment.Center">
                    <label class="text-white">€</label>
                </GridElement>
            </Content>
        </Grid>
    </div>
</div>

@code {

    private InfosState MyStore => Store.GetState<InfosState>();

    private string NotaryFees => MyStore.NotaryFees;

    private string BuyingPrice {
        get => MyStore.BuyingPrice;
        set => Mediator.Send(new InfosState.ChangeBuyingPrice(value)); 
    }

}
