@inherits BlazorState.BlazorStateComponent
@using System.Data.Common
@using ImmoCalc.Components.Converters
@using ImmoCalc.Domain
@using ImmoCalc.Stores.Infos
@using MediatR

<div class="card">
    @CardHeader("Informations d'achat !", "bg-primary", "fa-house-damage")
    <div class="card-body">
        <Grid ColumnGap="3" RowGap="3">
            <RowDefinitions>
                <RowDefinition/>
                <RowDefinition/>
                <RowDefinition/>
                <RowDefinition/>
            </RowDefinitions>
            <ColumnDefinitions>
                <ColumnDefinition Width="Auto"/>
                <ColumnDefinition/>
                <ColumnDefinition Width="Auto"/>
            </ColumnDefinitions>
            <Content>
                <DataInput Row="1" Label="Prix d'achat" ShowCents="@false" @bind-Value="@_buyingPrice.Value" Converter="@_buyingPrice.Converter"/>
                <DataInput Row="2" Label="Loyer mensuel" @bind-Value="@_monthlyRent.Value" Converter="@_monthlyRent.Converter"/>
                <DataInput Row="3" Label="Charges" @bind-Value="@_charges.Value" Converter="@_charges.Converter"/>
                <DataInput Row="4" Label="Surface" Currency="m²" @bind-Value="@_surface.Value" Converter="@_surface.Converter"/>
                <DataInput Row="5" Label="Taxe foncière" Currency="€/an" @bind-Value="@_propertyTax.Value" Converter="@_propertyTax.Converter"/>
                <DataInput Row="6" Label="Travaux" Currency="€" @bind-Value="@_renovation.Value" Converter="@_renovation.Converter"/>
            </Content>
        </Grid>
    </div>
    
    @CardHeader("Banque", "bg-info", "fa-house-damage")
    <div class="card-body">
        <Grid>
            <ColumnDefinitions>
                <ColumnDefinition Width="Auto"/>
                <ColumnDefinition/>
                <ColumnDefinition Width="Auto"/>
                <ColumnDefinition Width="Auto"/>
            </ColumnDefinitions>
            <RowDefinitions>
                <RowDefinition/>
                <RowDefinition/>
                <RowDefinition/>
                <RowDefinition/>
                <RowDefinition/>
            </RowDefinitions>
            <Content>
                <DataInput Row="1" Label="Durée du prêt" Currency="ans" @bind-Value="@_loanDuration.Value" Converter="@_loanDuration.Converter" ShowCents="@false" />
                <DataInput Row="2" Label="Taux du prêt" Currency="%" @bind-Value="@_loanRate.Value" Converter="@_loanRate.Converter"/>
                <DataInput Row="3" Label="Taux assurance" Currency="%" @bind-Value="@_insuranceRate.Value" Converter="@_insuranceRate.Converter"/>
                <DataOutput Row="4" Label="Frais de notaire" Currency="€" Value="@((string) _amountToStringConverter.Convert(MyStore.NotaryFees))"/>

            </Content>
        </Grid>
    </div>
    
    @CardHeader("Calculs","bg-info", "fa-house-damage")
<div class="card-body">
    <Grid>
        <ColumnDefinitions>
            <ColumnDefinition />
            <ColumnDefinition />
            <ColumnDefinition />
        </ColumnDefinitions>
        <RowDefinitions>
            <RowDefinition />
            <RowDefinition />
            <RowDefinition />
            <RowDefinition />
            <RowDefinition />
        </RowDefinitions>
        <Content>
           
            <DataOutput Row="1" Label="Cout total" Currency="€" Value="@((string) _amountToStringConverter.Convert(MyStore.PropertyTotalCost))" />
            <DataOutput Row="2" Label="Prix au m2" Currency="€" Value="@((string) _amountToStringConverter.Convert(MyStore.SquareMeterPrice))" />
            <DataOutput Row="3" Label="Revenu" Currency="€" Value="@((string) _amountToStringConverter.Convert(MyStore.MonthlyIncome))" />
            <DataOutput Row="4" Label="Mensualité" Currency="€" Value="@((string) _amountToStringConverter.Convert(MyStore.TotalMonthlyPayment))" />
            <DataOutput Row="5" Label="Gain mensuel" Currency="€" Value="@((string) _amountToStringConverter.Convert(MyStore.MonthlyGain))" />
            <DataOutput Row="6" Label="Rentabilite" Currency="%" Value="@((string) _ratioToStringConverter.Convert(MyStore.Profitability))" />
            <DataOutput Row="7" Label="Apport" Currency="€" Value="@((string) _amountToStringConverter.Convert(MyStore.Contribution))" />
            <DataOutput Row="8" Label="Score" Currency="/10" Value="@((string) _amountToStringConverter.Convert(MyStore.Score))" />

        </Content>
    </Grid>
</div>
</div>

@code {

    private InfosState MyStore => Store.GetState<InfosState>();

    private AmountProperty<BuyingPrice> _buyingPrice;
    private AmountProperty<MonthlyRent> _monthlyRent;
    private AmountProperty<Charges> _charges;
    private AmountProperty<Surface> _surface;
    private AmountProperty<PropertyTax> _propertyTax;
    private AmountProperty<Renovation> _renovation;

    private AmountProperty<LoanDuration> _loanDuration;
    private RatioProperty<LoanRate> _loanRate;
    private RatioProperty<InsuranceRate> _insuranceRate;

    protected override void OnInitialized()
    {
        _buyingPrice = new AmountProperty<BuyingPrice>(Mediator, BuyingPrice.From, ()=> MyStore.BuyingPrice);
        _monthlyRent = new AmountProperty<MonthlyRent>(Mediator, MonthlyRent.From, () => MyStore.MonthlyRent);
        _charges = new AmountProperty<Charges>(Mediator, Charges.From, () => MyStore.Charges);
        _surface = new AmountProperty<Surface>(Mediator, Surface.From, () => MyStore.Surface);
        _propertyTax = new AmountProperty<PropertyTax>(Mediator, PropertyTax.From, () => MyStore.PropertyTax);
        _renovation = new AmountProperty<Renovation>(Mediator, Renovation.From, () => MyStore.Renovation);

        _loanDuration = new AmountProperty<LoanDuration>(Mediator,a=> LoanDuration.From((int)a), () => MyStore.LoanDuration);
        _loanRate = new RatioProperty<LoanRate>(Mediator, LoanRate.From, ()=>MyStore.LoanRate);
        _insuranceRate = new RatioProperty<InsuranceRate>(Mediator, InsuranceRate.From, ()=>MyStore.InsuranceRate);
    }


    private readonly AmountToStringConverter _amountToStringConverter = new AmountToStringConverter();
    private readonly RatioToStringConverter _ratioToStringConverter = new RatioToStringConverter();

    private RenderFragment CardHeader(string title, string color, string icon)
        => @<div class="card-header border rounded shadow-sm @color">
               <div class="row text-left">
                   <div class="col-auto"><i class="fas @icon"></i></div>
                   <div class="col">
                       <h5 class="text-white mb-0">@title</h5>
                   </div>
               </div>
           </div>;



}
